@model NichDevDotNetCore.Models.ViewModels.PostsViewModel

@if (Model?.Posts is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Posts)
            {
                <tr scope="row">
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        <select>
                            <option asp-action="Details" asp-route-id="@item.Id">Details</option>
                            <option asp-action="Edit" asp-route-id="@item.Id">Edit</option>
                            <option asp-action="Delete" asp-route-id="@item.Id">Delete</option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <partial>There are no posts to show.</partial>
}